{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    {% if username.endswith("s") %}
    <h1 class="title">{{username}}' Transaction History</h1>
    {% else %}
    <h1 class="title">{{username}}'s Transaction History</h1>
    {% endif %}
    {% if message is defined %}
    <p>{{message}}</p>
    {% else %}
    <table class="table table-striped">
        <tr>
            <th>Status</th>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Transacted</th>
        </tr>
        {% for row in rows %}
            <tr>
                <td>{{row["status"]}}</td>
                <td>{{row["symbol"]}}</td>
                <td>{{row["company_name"]}}</td>
                <td>{{row["shares"]}}</td>
                <td>{{row["price"]}}</td>
                <td>{{row["date"]}}</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}